Application/bin/Debug/netcoreapp1.1/Application.Core.dll
Application/bin/Debug/netcoreapp1.1/Application.Core.pdb
Application/bin/Debug/netcoreapp1.1/Application.deps.json
Application/bin/Debug/netcoreapp1.1/Application.dll
Application/bin/Debug/netcoreapp1.1/Application.pdb
Application/bin/Debug/netcoreapp2.0/Application.Core.dll
Application/bin/Debug/netcoreapp2.0/Application.Core.pdb
Application/bin/Debug/netcoreapp2.0/Application.deps.json
Application/bin/Debug/netcoreapp2.0/Application.dll
Application/bin/Debug/netcoreapp2.0/Application.pdb
Application/obj/Debug/netcoreapp1.1/Application.AssemblyInfo.cs
Application/obj/Debug/netcoreapp1.1/Application.AssemblyInfoInputs.cache
Application/obj/Debug/netcoreapp1.1/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/netcoreapp1.1/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/netcoreapp1.1/Application.csprojResolveAssemblyReference.cache
Application/obj/Debug/netcoreapp1.1/Application.dll
Application/obj/Debug/netcoreapp1.1/Application.pdb
Application/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Application/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Application/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Application/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Application/obj/Debug/netcoreapp2.0/Application.AssemblyInfo.cs
Application/obj/Debug/netcoreapp2.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/netcoreapp2.0/Application.csproj.CopyComplete
Application/obj/Debug/netcoreapp2.0/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/netcoreapp2.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/netcoreapp2.0/Application.csprojResolveAssemblyReference.cache
Application/obj/Debug/netcoreapp2.0/Application.dll
Application/obj/Debug/netcoreapp2.0/Application.pdb
Application/obj/Application.csproj.nuget.cache
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
Application/obj/project.assets.json
.vs/BasicProject/v15/sqlite3/storage.ide
.vs/BasicProject/v15/.suo
Application.Core/bin/Debug/netcoreapp1.1/Application.Core.deps.json
Application.Core/bin/Debug/netcoreapp1.1/Application.Core.dll
Application.Core/bin/Debug/netcoreapp1.1/Application.Core.pdb
Application.Core/bin/Debug/netcoreapp2.0/Application.Core.deps.json
Application.Core/bin/Debug/netcoreapp2.0/Application.Core.dll
Application.Core/bin/Debug/netcoreapp2.0/Application.Core.pdb
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.AssemblyInfo.cs
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.AssemblyInfoInputs.cache
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.csproj.CoreCompileInputs.cache
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.csproj.FileListAbsolute.txt
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.csprojResolveAssemblyReference.cache
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.dll
Application.Core/obj/Debug/netcoreapp1.1/Application.Core.pdb
Application.Core/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Application.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Application.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Application.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.AssemblyInfo.cs
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.AssemblyInfoInputs.cache
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.csproj.CoreCompileInputs.cache
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.csproj.FileListAbsolute.txt
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.csprojResolveAssemblyReference.cache
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.dll
Application.Core/obj/Debug/netcoreapp2.0/Application.Core.pdb
Application.Core/obj/Application.Core.csproj.nuget.cache
Application.Core/obj/Application.Core.csproj.nuget.g.props
Application.Core/obj/Application.Core.csproj.nuget.g.targets
Application.Core/obj/project.assets.json
Persistence/bin/Debug/netcoreapp1.1/Application.Core.dll
Persistence/bin/Debug/netcoreapp1.1/Application.Core.pdb
Persistence/bin/Debug/netcoreapp1.1/Domain.Membership.dll
Persistence/bin/Debug/netcoreapp1.1/Domain.Membership.pdb
Persistence/bin/Debug/netcoreapp1.1/Domain.SharedKernel.dll
Persistence/bin/Debug/netcoreapp1.1/Domain.SharedKernel.pdb
Persistence/bin/Debug/netcoreapp1.1/Persistence.deps.json
Persistence/bin/Debug/netcoreapp1.1/Persistence.dll
Persistence/bin/Debug/netcoreapp1.1/Persistence.pdb
Persistence/bin/Debug/netcoreapp2.0/Application.Core.dll
Persistence/bin/Debug/netcoreapp2.0/Application.Core.pdb
Persistence/bin/Debug/netcoreapp2.0/Domain.Membership.dll
Persistence/bin/Debug/netcoreapp2.0/Domain.Membership.pdb
Persistence/bin/Debug/netcoreapp2.0/Domain.SharedKernel.dll
Persistence/bin/Debug/netcoreapp2.0/Domain.SharedKernel.pdb
Persistence/bin/Debug/netcoreapp2.0/Persistence.deps.json
Persistence/bin/Debug/netcoreapp2.0/Persistence.dll
Persistence/bin/Debug/netcoreapp2.0/Persistence.pdb
Persistence/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Persistence/obj/Debug/netcoreapp1.1/Persistence.AssemblyInfo.cs
Persistence/obj/Debug/netcoreapp1.1/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/netcoreapp1.1/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/netcoreapp1.1/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/netcoreapp1.1/Persistence.csprojResolveAssemblyReference.cache
Persistence/obj/Debug/netcoreapp1.1/Persistence.dll
Persistence/obj/Debug/netcoreapp1.1/Persistence.pdb
Persistence/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Persistence/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Persistence/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Persistence/obj/Debug/netcoreapp2.0/Persistence.AssemblyInfo.cs
Persistence/obj/Debug/netcoreapp2.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/netcoreapp2.0/Persistence.csproj.CopyComplete
Persistence/obj/Debug/netcoreapp2.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/netcoreapp2.0/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/netcoreapp2.0/Persistence.csprojResolveAssemblyReference.cache
Persistence/obj/Debug/netcoreapp2.0/Persistence.dll
Persistence/obj/Debug/netcoreapp2.0/Persistence.pdb
Persistence/obj/Persistence.csproj.nuget.cache
Persistence/obj/Persistence.csproj.nuget.g.props
Persistence/obj/Persistence.csproj.nuget.g.targets
Persistence/obj/project.assets.json
Domain.SharedKernel/bin/Debug/netcoreapp1.1/Domain.SharedKernel.deps.json
Domain.SharedKernel/bin/Debug/netcoreapp1.1/Domain.SharedKernel.dll
Domain.SharedKernel/bin/Debug/netcoreapp1.1/Domain.SharedKernel.pdb
Domain.SharedKernel/bin/Debug/netcoreapp2.0/Domain.SharedKernel.deps.json
Domain.SharedKernel/bin/Debug/netcoreapp2.0/Domain.SharedKernel.dll
Domain.SharedKernel/bin/Debug/netcoreapp2.0/Domain.SharedKernel.pdb
Domain.SharedKernel/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.AssemblyInfo.cs
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.AssemblyInfoInputs.cache
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.csproj.CoreCompileInputs.cache
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.csproj.FileListAbsolute.txt
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.csprojResolveAssemblyReference.cache
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.dll
Domain.SharedKernel/obj/Debug/netcoreapp1.1/Domain.SharedKernel.pdb
Domain.SharedKernel/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain.SharedKernel/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Domain.SharedKernel/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.AssemblyInfo.cs
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.AssemblyInfoInputs.cache
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.csproj.CoreCompileInputs.cache
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.csproj.FileListAbsolute.txt
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.csprojResolveAssemblyReference.cache
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.dll
Domain.SharedKernel/obj/Debug/netcoreapp2.0/Domain.SharedKernel.pdb
Domain.SharedKernel/obj/Domain.SharedKernel.csproj.nuget.cache
Domain.SharedKernel/obj/Domain.SharedKernel.csproj.nuget.g.props
Domain.SharedKernel/obj/Domain.SharedKernel.csproj.nuget.g.targets
Domain.SharedKernel/obj/project.assets.json
Domain.Membership/bin/Debug/netcoreapp1.1/Domain.Membership.deps.json
Domain.Membership/bin/Debug/netcoreapp1.1/Domain.Membership.dll
Domain.Membership/bin/Debug/netcoreapp1.1/Domain.Membership.pdb
Domain.Membership/bin/Debug/netcoreapp1.1/Domain.SharedKernel.dll
Domain.Membership/bin/Debug/netcoreapp1.1/Domain.SharedKernel.pdb
Domain.Membership/bin/Debug/netcoreapp2.0/Domain.Membership.deps.json
Domain.Membership/bin/Debug/netcoreapp2.0/Domain.Membership.dll
Domain.Membership/bin/Debug/netcoreapp2.0/Domain.Membership.pdb
Domain.Membership/bin/Debug/netcoreapp2.0/Domain.SharedKernel.dll
Domain.Membership/bin/Debug/netcoreapp2.0/Domain.SharedKernel.pdb
Domain.Membership/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.AssemblyInfo.cs
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.AssemblyInfoInputs.cache
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.csproj.CoreCompileInputs.cache
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.csproj.FileListAbsolute.txt
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.csprojResolveAssemblyReference.cache
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.dll
Domain.Membership/obj/Debug/netcoreapp1.1/Domain.Membership.pdb
Domain.Membership/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain.Membership/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Domain.Membership/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.AssemblyInfo.cs
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.AssemblyInfoInputs.cache
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.csproj.CopyComplete
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.csproj.CoreCompileInputs.cache
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.csproj.FileListAbsolute.txt
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.csprojResolveAssemblyReference.cache
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.dll
Domain.Membership/obj/Debug/netcoreapp2.0/Domain.Membership.pdb
Domain.Membership/obj/Domain.Membership.csproj.nuget.cache
Domain.Membership/obj/Domain.Membership.csproj.nuget.g.props
Domain.Membership/obj/Domain.Membership.csproj.nuget.g.targets
Domain.Membership/obj/project.assets.json
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.dll
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.pdb
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.Test.deps.json
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.Test.dll
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.Test.pdb
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.Test.runtimeconfig.dev.json
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.Membership.Test.runtimeconfig.json
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.SharedKernel.dll
Domain.Membership.Test/bin/Debug/netcoreapp1.1/Domain.SharedKernel.pdb
Domain.Membership.Test/bin/Debug/netcoreapp1.1/xunit.runner.reporters.netstandard15.dll
Domain.Membership.Test/bin/Debug/netcoreapp1.1/xunit.runner.utility.netstandard15.dll
Domain.Membership.Test/bin/Debug/netcoreapp1.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.pdb
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.Test.deps.json
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.Test.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.Test.pdb
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.Test.runtimeconfig.dev.json
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.Membership.Test.runtimeconfig.json
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.SharedKernel.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/Domain.SharedKernel.pdb
Domain.Membership.Test/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
Domain.Membership.Test/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Domain.Membership.Test/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.AssemblyInfo.cs
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.AssemblyInfoInputs.cache
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.csproj.CoreCompileInputs.cache
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.csproj.FileListAbsolute.txt
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.csprojResolveAssemblyReference.cache
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.dll
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.pdb
Domain.Membership.Test/obj/Debug/netcoreapp1.1/Domain.Membership.Test.Program.cs
Domain.Membership.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain.Membership.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Domain.Membership.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.AssemblyInfo.cs
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.AssemblyInfoInputs.cache
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.csproj.CopyComplete
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.csproj.CoreCompileInputs.cache
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.csproj.FileListAbsolute.txt
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.csprojResolveAssemblyReference.cache
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.dll
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.pdb
Domain.Membership.Test/obj/Debug/netcoreapp2.0/Domain.Membership.Test.Program.cs
Domain.Membership.Test/obj/Domain.Membership.Test.csproj.nuget.cache
Domain.Membership.Test/obj/Domain.Membership.Test.csproj.nuget.g.props
Domain.Membership.Test/obj/Domain.Membership.Test.csproj.nuget.g.targets
Domain.Membership.Test/obj/project.assets.json
DAL.Core/bin/Debug/netcoreapp1.1/DAL.Core.deps.json
DAL.Core/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
DAL.Core/obj/Debug/netcoreapp1.1/DAL.Core.AssemblyInfo.cs
DAL.Core/obj/Debug/netcoreapp1.1/DAL.Core.csproj.FileListAbsolute.txt
DAL.Core/obj/Debug/netcoreapp1.1/DAL.Core.csprojResolveAssemblyReference.cache
DAL.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DAL.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DAL.Core/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DAL.Core/obj/DAL.Core.csproj.nuget.g.props
DAL.Core/obj/DAL.Core.csproj.nuget.g.targets
DAL.Core/obj/project.assets.json
Application.Test/bin/Debug/netcoreapp1.1/Application.Test.deps.json
Application.Test/bin/Debug/netcoreapp1.1/Application.Test.dll
Application.Test/bin/Debug/netcoreapp1.1/Application.Test.pdb
Application.Test/bin/Debug/netcoreapp1.1/Application.Test.runtimeconfig.dev.json
Application.Test/bin/Debug/netcoreapp1.1/Application.Test.runtimeconfig.json
Application.Test/bin/Debug/netcoreapp1.1/xunit.runner.reporters.netstandard15.dll
Application.Test/bin/Debug/netcoreapp1.1/xunit.runner.utility.netstandard15.dll
Application.Test/bin/Debug/netcoreapp1.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Application.Test/bin/Debug/netcoreapp2.0/Application.Test.deps.json
Application.Test/bin/Debug/netcoreapp2.0/Application.Test.dll
Application.Test/bin/Debug/netcoreapp2.0/Application.Test.pdb
Application.Test/bin/Debug/netcoreapp2.0/Application.Test.runtimeconfig.dev.json
Application.Test/bin/Debug/netcoreapp2.0/Application.Test.runtimeconfig.json
Application.Test/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
Application.Test/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
Application.Test/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.AssemblyInfo.cs
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.AssemblyInfoInputs.cache
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.csproj.CoreCompileInputs.cache
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.csproj.FileListAbsolute.txt
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.csprojResolveAssemblyReference.cache
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.dll
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.pdb
Application.Test/obj/Debug/netcoreapp1.1/Application.Test.Program.cs
Application.Test/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
Application.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Application.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Application.Test/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.AssemblyInfo.cs
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.AssemblyInfoInputs.cache
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.csproj.CoreCompileInputs.cache
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.csproj.FileListAbsolute.txt
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.csprojResolveAssemblyReference.cache
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.dll
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.pdb
Application.Test/obj/Debug/netcoreapp2.0/Application.Test.Program.cs
Application.Test/obj/Application.Test.csproj.nuget.cache
Application.Test/obj/Application.Test.csproj.nuget.g.props
Application.Test/obj/Application.Test.csproj.nuget.g.targets
Application.Test/obj/project.assets.json
